<!DOCTYPE html>
<html>
 <body>
    <head>
        <title>GameCenter </title>
    </head>       
    
        <h1>Add Score</h1>

         
        <form id="score_form" method="post" action="/addscore/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {{ScoreForm.a}}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <br>
            <input type="submit" name="submit" value="Add Score" />
        </form>
    </body>

</html>