<!DOCTYPE html>
<html>
    <head>
        <title>GameCenter</title>
    </head>

    <body>
        <h1>{{ category_name }}</h1>
        {% if category %}
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                 <br><a href="/category/{{category_name_slug}}/add_page/">Add a New Page</a><br />
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}

        
        
       
    </body>
</html>