<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Game Center</title>
    </head>

    <body>
        <h1>Game Center</h1>
        Welcome!
        <strong>{{ boldmessage }}</strong><br>
       
        <br><a href="/game/">Play Game</a><br />
        
       {% if score %}
            <ul>
                {% for Score in score %}          
                <li>{{ Score }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        <img src="{% static "images/url.jpg" %}" alt="Picture of BMW" /> <!-- Images -->
    </body>
</html>
