<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Game Center</title>
    </head>

    <body>
        <h1>Game Center</h1>
        Welcome!
        <strong>{{ boldmessage }}</strong><br>
        <a href="/about/">About</a>
        <br><a href="/add_category/">Add a New Category</a><br />
        <br><a href="/add_page/">Add a New Page</a><br />
        
       {% if categories %}
            <ul>
                {% for category in categories %}          
                <li><a href="/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        <img src="{% static "images/url.jpg" %}" alt="Picture of BMW" /> <!-- Images -->
    </body>
</html>
